#logo-watermark img {
            opacity:            .15;
            -webkit-filter:     grayscale(75%);
            -moz-filter:        grayscale(75%);
            -ms-filter:         grayscale(75%);
            filter:             grayscale(75%);
            -moz-transition:    all .2s;
            -webkit-transition: all .2s;
            -ms-transition:     all .2s;
            -o-transition:      all .2s;
            transition:         all .2s;
            }

#logo-watermark img:hover {
            opacity:        1;
            -webkit-filter: grayscale(0);
            -moz-filter:    grayscale(0);
            -ms-filter:     grayscale(0);
            filter:         grayscale(0);
            }

@media (max-width: 767px) {

            #logo-watermark img {
                        display: none;
                        }
            }